AddHandler cgi-script .mojo 
ErrorDocument 401 /401.html
ErrorDocument 404 /404.html
RewriteEngine on
RewriteRule ^protected - [L,QSA]
RewriteRule ^.*\.html - [L]
RewriteCond %{REQUEST_URI} !^/app.mojo\b
RewriteRule ^/?(.*)$ /app.mojo/$1 [L]
